/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 may. 2020, 12:09:17
    Author     : Sonia Antón Llanes
    Descripcion: Estilo 03.xml Peliculas
*/

* { box-sizing: border-box; margin:0px; padding:0px;}
ul, ol {list-style: none; }
a{text-decoration: none; color:#000; }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header{
}
h1{
    background-color: blue;
    color: white;
    width: 100%;
    margin-bottom: 10px; 
} 
main{
    border:1px solid blue;
}



