/* 
    Autor .- Sonia Anton Llanes
    Fecha.- Martes 21 de abril de 2020
    Descripcion .- Estilo 02.xml Lista de Tickets
   
*/

* { box-sizing: border-box; margin:0px; padding:0px;}
ul, ol {list-style: none; }
a{text-decoration: none; color:#000; }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header{
}
h1{
    background-color: silver;
    color: green;
    padding-left: 20px;
}
h2{
    margin-top: 20px;
    background-color: green;
    color: silver;
    padding-left: 20px;   
}

h3{
    margin-top: 20px;
    border: 2px solid greenyellow;
    color: green;
    padding-left: 20px;
}

table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
}
caption{
    caption-side: bottom;
    color: green;
    font-variant: small-caps;
    font-style: italic;
    text-align: center;
}
td, th{
    border-bottom: silver 1px solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

footer p{
    background-color: green;
    color: silver;
    font-weight: bold;
    text-align: right;
    padding: 10px;
}
